.additional__wrapper {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .additional__wrapper {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    margin: 0 79px 0 110px;
  }
}

.additional__title {
  padding: 31px 0 35px 20px;
  margin: 0;
  color: $black;
}

@media (min-width: $tablet-width) {
  .additional__title {
    padding: 68px 0 80px 36px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 0 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional__title {
    margin: 0;
    padding: 68px 0 80px 110px;
  }
}

.additional-item__order {
  padding: 0 0 14px 0;
}

@media (min-width: $tablet-width) {
  .additional-item__order {
    padding: 0 0 27px 0;
  }

  .additional-item:not(:last-child) {
    border-bottom: 1px solid $lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    border-bottom: 1px solid $lightgrey;
  }

  .additional-item:first-child {
    border-top: 1px solid $lightgrey;
  }
}


@media (min-width: $desktop-width) {
  .additional-item__order {
    padding: 16px 0;
  }
}

.additional__additional-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional__additional-list {
    padding: 0 38px;
    border: 1px solid $lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .additional__additional-list {
    padding: 0;
    margin: 0 0 86px 0;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .additional-item__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .additional-item__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 38px 0 0;
  }
}

.additional-item {
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .additional-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
  }
}

.additional-item__product-name {
  color: $darkgrey-special;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.parameter {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.parameter__price {
  text-transform: uppercase;
}

.additional-item__button {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  text-align: center;
}
