.additional__order {
  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $green;
  padding: 10px 109px;
  border: none;
  text-decoration: none;
}

.additional__list {
  list-style: none;
}

.additional__product-name {
  color: $darkgrey-special;
}
