.advertise {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid rgba(204, 0, 255, 0.8);
  outline-offset: -5px;
}

.advertise__offer {
  background-color: $green;
  color: $white;
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 135px;
  }
}

.advertise__wrapper {
  background-color: $green;
  width: 100%;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 138px;
  }
}

@media (min-width: $tablet-width) {
  .advertise__offer {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 83px 0 83px;
  }

  .advertise__wrapper {
    background-color: $white;
  }
}

.advertise__title {
  padding: 27px 0 25px 0;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advertise__title {
    padding: 62px 0 41px 0;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: start;
    width: 414px;
  }
}

.advertise__slogan {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .advertise__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .advertise__slogan {
    margin: 0 0 52px 0;
  }
}

.advertise__choose-program {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 73px;
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 526px;
    left: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    position: static;
    margin-left: 80px;
  }
}

@media (max-width: $mobile-width-only) {
  .advertise::after {
    content: "";
    background: url("../img/index-can-mobile.png") no-repeat;
    width: 280px;
    height: 270px;
    display: block;
    position: absolute;
    bottom: 43px;
  }

  .advertise {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .advertise::after {
    content: "";
    width: 709px;
    height: 609px;
    background: url("../img/index-can-tablet.png") no-repeat;
  }

  .advertise {
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .advertise::after {
    width: 552px;
    height: 499px;
    content: "";
    background: url("../img/index-can-desktop.png") no-repeat;
    position: absolute;
    display: block;
    padding: 0;
    left: 448px;
    top: 29px;
  }

  .advertise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 110px;
  }
}

@media (min-width: $desktop-width) {
  .advertise::before {
    content: "";
    background-color: rgba(104, 183, 56, 0.85);
    width: 50%;
    position: absolute;
    height: 720px;
    top: -100px;
    right: 0;
  }

  .advertise {
    min-height: 696px;
    position: relative;
  }
}
