.advertise__wrapper {
  background-color: $green;
  color: $white;
}

.advertise__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.advertise__choose-program {
  padding: 7px 44px;
  color: $white;
  background-color: $green;
  text-decoration: none;
  text-transform: uppercase;
}
