.order__button {
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
}

.general-button {
  font-family: "Oswald", sans-serif;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  text-decoration: none;
}
