.comments {
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 0;
  margin: 0;
}

.comments__slogan {
  text-transform: uppercase;
  padding: 0;
}

.comments__title {
  padding: 23px 0 37px 0;
}

@media (min-width: $tablet-width) {
  .comments__title {
    padding: 65px 0 76px 0;
  }
}
