.comments {
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.comments ::placeholder {
  text-transform: uppercase;
  color: $darkgrey;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .comments ::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

.comments__slogan {
  text-transform: uppercase;
  padding: 0;
  border: 1px solid $neutral-grey;
  display: block;
  height: 130px;
  margin: 37px 0 22px 0;

  @media (min-width: $tablet-width) {
    height: 154px;
    margin: 76px 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 76px 0 65px 0;
  }
}

.comments textarea {
  text-transform: uppercase;
  color: $darkgrey;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 10px 10px 14px;
  width: calc(100% - 24px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 10px 10px 19px;
    width: calc(100% - 29px);
  }
}
