//contacts
.location__invitation {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  width: 140px;
}

.location__address {
  width: 140px;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .location__invitation {
    font-size: 20px;
    line-height: 21px;
    width: 170px;
  }

  .location__address {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
  }
}

.location__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 5px solid rgba(255, 0, 157, 0.8);
  outline-offset: -5px;
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    background-color: $white;
  }
}

.location {
  background-color: $grey;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  padding: 28px 20px 22px 20px;
}

@media (min-width: $tablet-width) {
  .location {
    padding: 65px 30px 61px 70px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .location {
    position: absolute;
    bottom: 104px;
    left: 110px;
  }
}
