//contacts

.contacts__form {
  background-color: $grey;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.location__invitation {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 170px;
  }
}

.location__address {
  width: 140px;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-left: 87px;
  }
}

@media (max-width: $mobile-width-only) {
  .location__street {
    margin: 0;
  }

  .location__city {
    margin: 0;
  }
}

.location__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-special {
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .location-special__wrapper {
    background-color: $white;
  }
}

.location {
  padding: 28px 20px 30px 20px;

  @media (min-width: $tablet-width) {
    padding: 55px 89px 39px 72px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 104px;
    left: 110px;
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }
}

.google-map {
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .google-map {
    height: 400px;
  }
}

.map {
  background: url("../img/map-mobile.png") no-repeat;
  background-size: 100% 362px;
  height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
    background-size: 100% 362px;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/map-tablet.png") no-repeat;
    background-size: 100% 400px;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
      background-size: 100% 400px;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../img/map-desktop.png") no-repeat;
    background-size: 100% 400px;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
      background-size: 100% 400px;
    }
  }
}
