//contacts
.location__invitation {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .location__invitation {
    font-size: 20px;
    line-height: 21px;
  }

  .location__address {
    font-size: 16px;
    line-height: 20px;
  }
}

.location {
  display: flex;
  justify-content: space-between;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  padding: 0 20px;
  background-color: $grey;
}

.contacts {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .location {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .location {
    position: absolute;
    width: 25%;
    bottom: 104px;
    left: 110px;
  }
}
