.gift {
  margin: 39px 20px 35px 20px;
  background: url("../img/gift-photo-mobile.jpg") no-repeat;
  background-color: $green;
  background-size: cover;
  height: 289px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 100% 289px;
  }

  @media (min-width: $tablet-width) {
    background-size: 100% auto;
    height: 200px;
    background-position: 50% 67%;
    margin: 70px 30px 76px 30px;
  }

  @media (min-width: $desktop-width) {
    background-size: cover;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    margin: 80px 110px 86px 0;
  }
}

.gift__slogan::before {
  content: "";
  background: url("../img/gift.svg") no-repeat;
  width: 78px;
  height: 80px;
  display: block;
  margin: 60px auto 48px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 56px auto 46px auto;
  }
}

.gift__slogan {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 48px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 265px;
    align-items: center;
    text-align: start;
    margin: 63px 124px 69px 78px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 48px auto;
  }
}

.gift__slogan span {
  width: 161px;
}
