.gift {
  margin: 39px 20px 35px 20px;
  background: url("../img/gift-photo-mobile.jpg") no-repeat;
  background-size: cover;
  height: 289px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 100% 289px;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    height: 200px;
    margin: 69px 30px 76px 30px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    height: 289px;
    align-self: end;
    margin: 80px 110px 86px 0;
  }
}

.gift__slogan::before {
  content: "";
  background: url("../img/gift.svg") no-repeat;
  width: 78px;
  height: 80px;
  display: block;
  margin: 65px auto 48px auto;
}

@media (min-width: $tablet-width) {
  .gift__slogan::before {
    margin-right: 265px;
  }
}

@media (min-width: $desktop-width) {
  .gift__slogan::before {
    margin: 56px auto 46px auto;
  }
}

.gift__slogan {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 48px auto;
  text-align: center;
}

.gift__slogan span {
  width: 161px;
}

@media (min-width: $tablet-width) {
  .gift__slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .gift__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
