.goals__list {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 20px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border: 1px solid $neutral-grey;
    padding: 25px 0 25px 28px;
  }
}

.goals {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 24px 0 0 0;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .goals::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $neutral-grey;
    bottom: 0;
    width: 100vw;
    left: -21px;
  }

  .goals::after {
    content: "";
    position: absolute;
    border-top: 1px solid $neutral-grey;
    top: 0;
    width: 100vw;
    left: -21px;
  }

  .goals {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .goals {
    margin: 72px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .goals {
    margin: 0;
  }
}

.goals__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.goals__item:not(:last-child) {
  padding-bottom: 9px;
}

.goals__item input[type="radio"] {
  position: relative;
  height: 30px;
  width: 30px;
  outline: none;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.goals__item input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $lightgrey;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.goals__item input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background-color: $green;
  transform: translate(-50%, -50%);
  visibility: visible;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}
