.optional__list {
  color: $black;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 32px 0;
}

.optional__item input {
  margin: 0;
}

.optional__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optional__item:not(:last-child) {
  margin: 0 0 15px 0;
}

@media (min-width: $tablet-width) {
  .optional__item {
    margin: 0 0 32px 0;
  }
}

@media (min-width: $tablet-width) {
  .optional__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .optional__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}

.optional {
  color: $black;
  border: none;
  padding: 0;
  outline: 5px solid rgba(21, 255, 0, 0.8);
  outline-offset: -5px;
}

.optional__title {
  padding: 22px 0 34px 0;
}

@media (min-width: $tablet-width) {
  .optional__title {
    padding: 65px 0 57px 0;
  }
}

.optional__item input[type="checkbox"] {
  position: relative;
  height: 30px;
  width: 30px;
  outline: none;
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.optional__item input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid $lightgrey;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.optional__item input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  background-position: 0 0;
  visibility: visible;
}
