.page-header {
  padding: 0;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    padding: 0 30px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 110px;
    position: relative;
    z-index: 1;
  }
}

.site-list__link {
  text-decoration: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: $black;
}

@media (min-width: $desktop-width) {
  .site-list-first a {
    color: $white;
  }
}

.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav {
  position: relative;
  width: auto;
}

@media (max-width: $mobile-width-only) {
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 25px;
    height: 25px;
    background-color: $white;
    cursor: pointer;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $black,;
    box-shadow: 0 9.5px 0 0 $black, 0 19px 0 0 $black,;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__toggle {
    top: -25px;
    right: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-nav__toggle {
    top: -25px;
    right: 3px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 25px;
      height: 1.5px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.page-header__wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.site-list__item {
  display: block;
  padding: 22px 0 24px 0;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    width: 100%;
    text-align: center;
  }

  .site-list__item a {
    width: 100%;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }
}

.page-header__logo {
  display: block;
  padding: 11px 0 24px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .page-header__logo {
    padding: 11px 20px 24px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    border-bottom: 1px solid $lightgrey-special;
  }

  .page-header__logo {
    border-bottom: 1px solid $lightgrey-special;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item--active {
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--active {
    border-bottom: 2px solid $white;
  }
}
