.page {
  height: 100%;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $darkgrey;
}
