.personal-information__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $desktop-width) {
  .personal-information__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.personal-information__item {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.personal-information__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.personal-information__item label {
  margin-right: 10px;
}


.personal-information__item input {
  outline: none;
  border: none;
}

@media (min-width: $tablet-width) {
  .personal-information__item input {
    height: 52px;
    margin-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .personal-information__item input {
    margin-right: 0;
  }
}

.personal-information {
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 0;
  margin: 0;
}

.personal-information ::placeholder {
  text-transform: uppercase;
  color: $darkgrey;
  font-family: "Oswald", sans-serif;
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
  .personal-information ::placeholder {
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
  }
}


@media (min-width: $desktop-width) {
  .personal-information__title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.personal-information__title {
  padding: 26px 0 35px 0;
}

@media (min-width: $tablet-width) {
  .personal-information__title {
    padding: 71px 0 76px 0;
  }
}

.personal-information__window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $neutral-grey;
  width: 100%;
}

.window__call {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
