.personal-information__list {
  margin: 32px 0 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 73px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.personal-information__item {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.personal-information__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.personal-information__item label {
  margin-right: 15px;
}


.personal-information__item input {
  outline: none;
  border: none;
  height: 43px;
  width: 100%;

  &:hover {
    border: 1px solid $lightgrey;
    outline: none;
  }

  &:focus {
    border: 2px solid $darkgrey;
    outline: none;
  }

  &--error {
    border: 2px solid $light-red;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.personal-information {
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 0;
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 49px 0;
  }
}

.personal-information ::placeholder {
  text-transform: uppercase;
  color: $darkgrey;
  font-family: "Oswald", sans-serif;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
  }
}

.personal-information__window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $neutral-grey;
  width: 100%;
}

.window__call {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
