.programs-title {
  color: $black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 39px 0;
  }
}

.programs__wrapper {
  margin: 21px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 70px 10px 52px 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 51px 55px 0;
  }
}

.programs__description {
  padding: 0 13px 19px 0;
  margin: 22px 0 23px 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-light-neutral;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding-bottom: 48px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    min-height: 72px;
    padding: 0 0 25px 52px;
  }
}

.programs-list__item {
  width: 100%;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    display: flex;
  }
}

.programs-list__item:not(:last-child) {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px 0 0;
  }
}

.programs__details {
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.programs-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (max-width: $mobile-width-only) {
  .programs-list__title-slim::before {
    content: "";
    background: url("../img/cat-slim.svg") no-repeat;
    width: 50px;
    height: 53px;
    display: block;
    padding: 0 19px 0 0;
  }

  .programs-list__title-pro::before {
    content: "";
    background: url("../img/cat-pro.svg") no-repeat;
    width: 67px;
    height: 50px;
    display: block;
    padding-right: 11px;
  }
}

.programs-list__details {
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin: 0 15px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 52px;
  }
}

.programs-list__link {
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .programs-list__details {
    padding-left: 52px;
  }
}


@media (min-width: $tablet-width) {
  .programs-list__slim::after {
    content: "";
    width: 200px;
    height: 211px;
    background: url("../img/cat-slim-tablet.svg") no-repeat;
    margin-right: 62px;
  }
}

@media (min-width: $tablet-width) {
  .programs-list__pro::after {
    content: "";
    width: 268px;
    height: 200px;
    background: url("../img/cat-pro-tablet.svg") no-repeat;
    margin-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .programs-list__title-slim::before {
    content: "";
    background: url("../img/cat-slim-desktop.svg") no-repeat;
    width: 100px;
    height: 106px;
    display: block;
    padding-right: 50px;
    margin-left: 51px;
  }

  .programs-list__title-pro::before {
    content: "";
    background: url("../img/cat-pro-desktop.svg") no-repeat;
    width: 134px;
    height: 106px;
    display: block;
    padding-right: 46px;
    margin-left: 33px;
  }
}

@media (min-width: $desktop-width) {
  .programs-list__item::after {
    display: none;
  }
}
