.questionnaire {
  border: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .questionnaire label {
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire ::placeholder {
  text-transform: uppercase;
  color: $darkgrey;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .questionnaire ::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

.questionnaire__item {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.questionnaire__item:not(:last-child) {
  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px 0;
  }
}

.questionnaire input {
  border: 1px solid $neutral-grey;
  width: 100%;
  display: block;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-left: 14px;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
  height: 43px;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 49px;
    padding-left: 19px;
  }

  &:hover {
    border: 1px solid $lightgrey;
    outline: none;
  }

  &:focus {
    border: 2px solid $darkgrey;
    outline: none;
  }

  &--error {
    border: 2px solid $light-red;
    outline: none;
  }
}

.questionnaire label {
  margin-right: 16px;
}

@media (min-width: $desktop-width) {
  .questionnaire ::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire {
    font-size: 20px;
    line-height: 30px;
  }
}

/*Убрать стрелки для браузера Google Chrome:
.questionnaire__item input[type="number"]::-webkit-outer-spin-button,
.questionnaire__item input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*Убрать стрелки для браузера Firefox:
.questionnaire__iteminput[type="number"] {
  -moz-appearance: textfield;
}

.questionnaire__item input[type="number"]:hover,
.questionnaire__item input[type="number"]:focus {
  -moz-appearance: number-input;
}
*/
