.registration fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.registration legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.registration__wrapper {
  margin: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 70px 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.registration__block-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  padding: 0;
  z-index: 1;
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding: 0 0 0 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 37px;
    padding-left: 37px;
  }
}

.registration__questions {
  margin: 0 0 26px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

/*

.registration__block-title::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  width: 100vw;
  left: -21px;
  height: 2px;
  background-color: $green;
  z-index: -2;

  @media (min-width: $tablet-width) {
    left: -70px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
  }
}

.registration__block-title::before {
  content: "";
  position: absolute;
  display: block;
  top: 2;
  width: calc(100% + 40px);
  left: -20px;
  height: 50px;
  background-color: $white;
  z-index: -1;

  @media (min-width: $tablet-width) {
    left: -40px;
    width: calc(100% + 80px);
  }
}*/

.registration__line {
  height: 2px;
  background-color: $green;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: -2;

  @media (min-width: $tablet-width) {
    left: -70px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
  }
}

.registration__block-title::before {
  content: "";
  position: absolute;
  display: block;
  top: 2;
  width: calc(100% + 40px);
  left: -20px;
  height: 36px;
  background-color: $white;
  z-index: -1;

  @media (min-width: $tablet-width) {
    left: -40px;
    width: calc(100% + 80px);
  }
}
