.registration fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.registration legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.registration__wrapper {
  margin: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 70px 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.registration__block-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  padding: 0;
  z-index: -1;
  position: relative;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    padding: 0 0 0 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 37px;
    padding-left: 37px;
  }
}

.registration__questions {
  margin: 0 0 26px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.registration__line:first-child {
  left: -112px;
  max-width: 70px;
}

.registration__line:last-child {
  min-width: 100%;
}

.registration__line {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  height: 2px;
  background-color: $green;
  z-index: -2;
  left: 20px;

  @media (min-width: $tablet-width) {
    right: -70px;
  }

  @media (min-width: $desktop-width) {
    right: -110px;
  }
}

.registration__title-name {
  display: inline-block;
  max-width: 200px;
  background-color: white;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    max-width: 550px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1000px;
  }
}
