.registration {
  outline: 5px solid rgba(0, 60, 255, 0.507);
  outline-offset: -5px;
}

.registration fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.registration legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.registration__wrapper {
  outline: 5px solid rgba(255, 0, 179, 0.507);
  outline-offset: -5px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .registration__wrapper {
    margin: 0 30px 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .registration__wrapper {
    margin: 0 110px;
  }
}

.registration__block-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .registration__block-title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .registration__questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
