.selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;
  margin: 0;
  padding: 27px 0 37px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 36px 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 0 57px 0;
  }
}

.selection__slogan {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .selection__slogan {
    font-size: 20px;
    line-height: 30px;
  }
}

.registration__selection {
  margin: 0 0 39px 0;
}

@media (min-width: $tablet-width) {
  .registration__selection {
    margin: 0 0 66px 0;
  }
}
