.stats {
  background-color: $lightgrey-ultra;

  @media (min-width: $tablet-width) {
    background-color: $white;
    position: relative;
    z-index: 2;
    border-top: 1px solid $lightgrey-special;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: none;
  }
}

@media (min-width: $tablet-width) {
  .stats::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: $lightgrey-ultra;
    width: 100%;
    min-height: 462px;
    z-index: -1;
  }

  .stats__description br {
    display: none;
  }
}

.stats__example {
  margin: 27px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.example__rating {
  @media (min-width: $tablet-width) {
    margin: 0 0 39px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 55px 0;
  }
}

.stats__spending {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $black;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    margin: 20px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
  }
}

.stats__value {
  margin: 0 0 0 3px;
}

.stats__cost {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 63px;
  }
}


.stats__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  padding: 27px 0 35px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 45px 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    padding: 29px 0 65px 0;
  }
}

.stats__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    justify-content: space-around;
  }
}

.stats__list {
  margin: 13px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
}

.example__description {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.stats__number {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 54px;
  border: 1px solid $lightgrey;
  border-bottom: none;
  border-radius: 5px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 10px;
    height: 1px;
    background-color: $lightgrey;
    right: 2px;
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 10px;
    height: 1px;
    background-color: $lightgrey;
    left: 2px;
    border-radius: 5px;
  }

  @media (min-width: $tablet-width) {
    width: 160px;
    height: 70px;
    margin-right: 42px;
  }
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  bottom: -15px;
  right: 30px;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    bottom: -5px;
    font-size: 14px;
    line-height: 14px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    bottom: -7px;
  }
}
