.stats {
  background-color: $lightgrey-ultra;
}

@media (min-width: $tablet-width) {
  .stats {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.stats__example {
  margin: 27px 21px 25px 20px;
}

@media (min-width: $tablet-width) {
  .stats__example {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .stats__example {
    margin: 0 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.example__rating {
  @media (min-width: $tablet-width) {
    margin: 0 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
  }
}

.stats__spending {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  color: $black;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    margin: 23px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 0 0;
  }
}

.stats__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 27px 0 33px 0;
}

@media (min-width: $tablet-width) {
  .stats__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.stats__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: $tablet-width) {
  .stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .stats__list {
    display: flex;
    flex-direction: column;
  }
}

.slider {
  display: flex;
  position: relative;
  padding-top: 255px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  font-family: "Oswald", sans-serif;
}

@media (min-width: $tablet-width) {
  .slider {
    padding-top: 550px;
  }
}


@media (max-width: $mobile-width-only) {
  .slider::before {
    width: 311px;
    height: 232px;
    content: "";
    background: url("../img/cat-before.png") no-repeat;
    position: absolute;
    display: block;
    top: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/cat-before@2x.png") no-repeat;
      background-size: 311px 232px;
    }
  }
}

@media (min-width: $tablet-width) {
  .slider::before {
    width: 354px;
    height: 620px;
    content: "";
    background: url("../img/cat-before-tablet.png") no-repeat;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 50%;

    @media (min-resolution: 2dppx) {
      background: url("../img/cat-before-tablet@2x.png") no-repeat;
      background-size: 354px 620px;
    }
  }

  .slider::after {
    width: 354px;
    height: 607px;
    content: "";
    background: url("../img/cat-after-tablet.png") no-repeat;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/cat-after-tablet@2x.png") no-repeat;
      background-size: 354px 607px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider::before {
    width: 405px;
    height: 536px;
    content: "";
    background: url("../img/cat-before-desktop.png") no-repeat;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    right: 43%;

    @media (min-resolution: 2dppx) {
      background: url("../img/cat-before-desktop@2x.png") no-repeat;
      background-size: 405px 536px;
    }
  }

  .slider::after {
    width: 325px;
    height: 654px;
    content: "";
    background: url("../img/cat-after-desktop.png") no-repeat;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/cat-after-desktop@2x.png") no-repeat;
      background-size: 325px 654px;
    }
  }
}

.example__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.stats__number {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: $black;
}

@media (min-width: $tablet-width) {
  .stats__number {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $tablet-width) {
  .stats__spending {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .stats__spending {
    display: flex;
    flex-direction: row;
  }
}

.stats__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
