//color
$white: #ffffff;
$grey: #f2f2f2;
$lightgrey: #cdcdcd;
$darkgrey: #444444;
$lightgrey-ultra: #eaeaea;
$lightgrey-special: #e6e6e6;
$darkgrey: #444444;
$darkgrey-special: #222222;
$neutral-grey: #e7e7e7;
$green: #68b738;
$black: #000000;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
